{% load static %}

<div class="container">
{% for table in tables %}
  {{table|safe}}
{% endfor %}
</div>

<html>
<head>
  <script type="text/javascript">
    window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
      text: JSON.parse("{{graph_nameJSON|escapejs}}")
      },
       data: [
      {
        type: "line",
        dataPoints: JSON.parse("{{graph_dataJSON|escapejs}}")
      }
      ]
    });

    chart.render();
  }
  </script>
 <script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script></head>
<body>
  <br>
  <br>
  <div id="chartContainer" style="height: 300px; width: 600px;">
  </div>
</body>
</html>