{% load static %}
{{df_html|safe}}

<html>
<head>
  <script type="text/javascript">
    window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
      text: "Line Graph"
      },
       data: [
      {
        type: "line",
        dataPoints: JSON.parse("{{graph_dataJSON|escapejs}}")
      }
      ]
    });

    chart.render();
  }
  </script>
 <script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script></head>
<body>
  <div id="chartContainer" style="height: 300px; width: 600px;">
  </div>
</body>
</html>