{{df_html|safe}}


<html>
<head>
  <script type="text/javascript">
    window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
      text: "Earthquakes - per month"
      },
       data: [
      {
        type: "line",
        dataPoints: JSON.parse("{{graph_dataJSON|escapejs}}")
      }
      ]
    });

    chart.render();
  }
  </script>
 <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script></head>
<body>
  <div id="chartContainer" style="height: 300px; width: 600px;">
  </div>
</body>
</html>